* {
  margin: 0;
  padding: 0;
}

body {
  background: #5f8fbf;
}

.container {
  width: 1500px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.header {
  height: 87px;
  background: #ffffff;
  margin: 0 auto;
}
