doctype html
html
	head
		meta(charset='UTF-8')
		title Web-monsters.net ||
		link(href='../css/style.css' rel='stylesheet')
	body
		.container
			.header
				.header-menu
					.logo Tank
						span(class='AppText') App
				.header-ban
				.projects
					.evernotePj
					.microsoftPj
					.googlePj
					.sonyPj
					.firefoxPj
				.info
					.first-about
					.second-about
					.singUp
				.footer
